{% extends 'core/base.html '%}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'assets/css/icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/uikit.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/tailwind.css' %}">
<main class="py-5 mt-5">
    <div>
      <h1 class="text-center fs-1">You're logged out!</h1>
      <a href="{% url 'login' %}" class="btn btn-primary">Log in</a> or <a href="{% url 'signup'%}">Create a new </a>
    </div>
</main>
<script src="{% static 'assets/js/tippy.all.min.js' %}"></script>
<script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'assets/js/uikit.js' %}"></script>
<script src="{% static 'assets/js/simplebar.js' %}"></script>
<script src="{% static 'assets/js/custom.js' %}"></script>

{% endblock %}